<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden - Access Denied</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #d9534f; /* Bootstrap's danger color */
        }

        p {
            color: #777;
        }

        .home-link {
            color: #333;
            text-decoration: none;
        }

        .home-link:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <div class="px-4 py-5 my-5 text-center">
        <h1>403 Forbidden - Access Denied</h1>

        <p>Sorry, but you don't have permission to access this resource on our server.</p>

        <p>If you believe this is an error, please contact the administrator or go back to the <a href="/" class="home-link">home page</a>.</p>
    </div>
</th:block>>
</body>

</html>